<nav class="@Model.name" aria-label="Page navigation">
  <ul class="pagination">

    @{
      int start = Model.start - 1;
      int end = Model.end;
      string disable = "";
      if (start == 0)
      {
        disable = "disabled-link";
      }

      <li class="page-item control previous @disable">
        <a class="page-link" href="#" data-page="-1" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      start += 1;

      <li class="page-item number active"><a class="page-link" href="#" data-page="@start">@start</a></li>

      int tmp = start;
      for (int i = 0; i < 4 && tmp < end; i++)
      {
        tmp += 1;
        <li class="page-item number"><a class="page-link" href="#" data-page="@tmp">@tmp</a></li>
      }
      if (start < end) {
        disable = "";
      }
      start += 1;
    }

    <li class="page-item control next" data-page-max="@end">
      <a class="page-link @disable" href="#" data-page="1" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>